@import "tailwindcss";

:root {
	--background: #0C0C0C;
	--foreground: #BB997E;
	--secondary: #3A3632;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-secondary: #3A3632;

	--font-montez: var(--font-montez);
	--font-alegreya-sans: var(--font-alegreya-sans);
	--font-alegreya-sans-sc: var(--font-alegreya-sans-sc);
}

html, body {
	overflow-x: hidden;
	max-width: 100vw;
}

body {
	background: var(--background);
	color: var(--foreground);
}

a, p, ul, ol, li, span {
	@apply font-alegreya-sans;
}

p {
	font-size: clamp(0.875rem, 5.172vw - 0.224rem, 1.5rem);
}

.site-navigation a, .site-navigation-mobile a {
	@apply font-bold uppercase tracking-[3.2px];
	font-family: var(--font-alegreya-sans-sc);
}